{% extends 'user_profile/navbar.html' %}

{% block title %}
	Dashboard
{% endblock %}

{% block head %}
	{% load static %}
	<script type="text/javascript" src="{% static 'user_profile/js/api.js' %}"></script>
{% endblock %}


{% block content %}

	{% if messages %}
		<ul class="messages">
    		{% for message in messages %}
    			<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
    				{{ message }}
    			</li>
    		{% endfor %}
		</ul>
	{% endif %}

	<div class="m-3">
		<form method="POST">
			{% csrf_token %}
			<table>
				{{ form.as_table }}
				<tr>
					<td>
						<input class="btn btn-dark" type="submit" name="user_profile" value="Update">
					</td>
				</tr>
			</table>
		</form>
	</div>
	
	{% if studentform %}
		<div class="m-3">
			<form method="POST">
				{% csrf_token %}
				<table>
					{{ studentform.as_table }}
					<tr>
						<td>
							<input class="btn btn-dark" type="submit" name="student" value="Update">
						</td>
					</tr>
				</table>
			</form>
		</div>
	{% endif %}

	<a href="{% url 'user_profile:change_password' %}">
		<button>
			Change Password
		</button>
	</a>

{% endblock %}